@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.header {
    min-height: 100vh;
    width: 100%;
    background: #000;
    color: #fff;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10%;
    padding: 10%;
    background: transparent;
}

.logo:hover {
    color: yellow !important;
}

.nav-links {
    background: #ff1616 !important;
    padding: 5px !important;
}

nav .navbar:hover {
    background: #000;
}

.nav-links ul li a:hover {
    color: yellow !important;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav ul li a {
    display: flex !important;
    /* align-items: flex-end !important; */
    align-items: right;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.left-sidebar {
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ff1616;
}

.row {
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}

.left-col {
    flex-basis: 40%;
}

.right-col {
    flex-basis: 55%;
}

.left-col img {
    width: 70%;
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
}

.left-col img:hover {
    filter: grayscale(1);
}

.right-col h1 {
    font-size: 55px;
    font-weight: 600;
    color: #ff1616;
}

.right-col h1 .auto-input {
    color: #fff;
}

.right-col p {
    color: #777;
    margin: 20px 0 70px;
}

.social-media {
    display: flex;
    margin-top: 30px;
}

.icon {
    width: 100px;
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
}

.icon img {
    width: 28px;
}

.icon a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff1616;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
}

.icon a:hover {
    opacity: 1;
}

@media (max-width:660px) {
    body {
        overflow-x: hidden !important;
    }
    .left-sidebar {
        /* width: 20px !important; */
        display: none;
    }
    .nav-links {
        text-align: right;
        padding: 5px 10px;
    }
    .navbar-toggler {
        color: #000 !important;
    }
}